.allbet-container{
    
  border: 2px solid white;
    width: 100%;
    margin-bottom: 10px;
}

.empty-div{
    background-color: green;
    width: 50%;
}

.allbet-role-1{
    /* margin-top: 13px; */
    display: flex;
    /* justify-content: space-around; */
    /* background-color: #494949; */
}

.my-button{
    color: black;
    width: 40%;
    font-weight: bold;
}

#fkk{
    margin-bottom: 9px;
    background-color: white;
    color: black;
}

#fkk:hover{
    background-color: rgb(200, 200, 28);
}

.allbet-role-2{
    display: flex;
    /* justify-content: space-around; */
    /* background-color: aqua; */
}

.allbet-winner{
    margin-top: 10px;
    font-weight: bold;
    /* background-color: teal; */
    color: white;
    width: 33%;
    margin-left: 5%;
    /* background-color: yellow; */
}

.allbet-owner{
    margin-top: 10px;
    color: white;
    width: 25%;
    /* background-color: green; */
}

.bet-size{
    margin-top: 9%;
}

.allbet-score{
    border-right: 2px solid white;
    /* background-color: blue; */
    color: white;
    width: 25%;
    /* background-color: violet; */
}

.allbet-betAmount{
    color: white;
    width: 25%;
    /* background-color: blue; */
}

.allbet-teams{
    /* background-color: teal; */
    margin-left: 5%;
    color: white;
    width: 29%;
    /* background-color: violet; */
}

.allbet-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.allbet-takers{
    color: white;
    border-right: 2px solid white;
    
    width: 44%;
    /* background-color: blue; */
}

.allbet-takeBet{
    /* background-color: green; */
    color: white;
    width: 22%;
    /* background-color: yellow; */
}

.bet-amount-2 {
    background: #bdc2c6;
    text-align: center;
    color: #494949;
    width: 80%;
}

#bet-amountt{
    width: 42%;
    margin-bottom: 5px;
}